.appInfo {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background: linear-gradient(to top, rgba(6, 29, 49, 0.85), #393072);
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}
.appSpanDate {
    display: block;
    position: relative;
    width: 525px;
    color: rgb(234, 234, 234);
    font-size: 23px;
    font-style: oblique;
    border: solid 2px white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 3px 14px black;
    background-color: #39365e;
    margin-right: 200px;
    bottom: 50px;
}

.wrapper {
    display: block;
    width: 60px;
    position: relative;
    top: 5px;
    left: 95%;

}

